.home-headline {
  text-align: center;
  margin-top: 5%;
}

.logo-header {
  font-size: 4rem;
  color: #ea7553;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: roboto;
  text-transform: uppercase;
}

.logo-sec {
  font-size: 2rem;
  font-family: roboto;
}

.logo-img {
  width: 300px;
}

@media (max-width: 860px) {
  .home-headline {
    margin-top: 70px;
  }
}
